@{
    ViewBag.Title = "Home Page";
}
<script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=AxXlQ1BehjgOnV5GflqAjrs46iawMsUE"></script>
<script src="http://d1.lashouimg.com/static/js/release/jquery-1.4.2.min.js" type="text/javascript"></script>

<div class="main map" style="width:100%;height:100%">
    @*<p>显示地图</p>*@
    <div style="width:100%;height:100%;border:1px solid gray" id="main_map"></div>
</div>

<div class="container main">
    <div class="row">
        <div class="col-md-10">
            <div class="row">
                <div id="searchDiv" class="col-md-3" style="">
                    <div class="input-group">
                        <input id="searchForInput" type="text" class="form-control" placeholder="搜索地点">
                        <span class="input-group-btn">
                            <button id="searchButton" class="btn btn-default" type="button">
                                <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                            </button><!-- /searchButton -->
                        </span>
                        <span class="input-group-btn">
                            <button id="detailRouteButton" class="btn btn-default" type="button">
                                <span class="glyphicon glyphicon-menu-down" aria-hidden="true"></span>
                            </button><!-- /detailRouteButton -->
                        </span>
                        <span class="input-group-btn">
                            <button id="newSiteButton" class="btn btn-default" type="button">
                                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                            </button><!-- /newSiteButton -->
                        </span>
                    </div><!-- /input-group -->
                </div><!-- /searchDiv -->

                <div id="routeDetailDiv" class="col-md-3" style="display:none">
                    <div class="col-md-offset-11">
                        <span class="input-group-btn">
                            <button id="returnFromRouteDetailButton" class="btn btn-default" type="button">
                                <span class="glyphicon glyphicon-remove" aria-hidden="true"></span><!-- return -->
                            </button>
                        </span>
                    </div><!-- /returnDiv -->
                    <div class="input-group">
                        <input id="sourceInput" type="text" class="form-control" placeholder="起点" aria-describedby="basic-addon1">
                        <span class="input-group-btn">
                            <span class="glyphicon glyphicon-sort" aria-hidden="true">
                                <button id="exchangeButton" class="btn btn-default" type="button">
                                    <span class="glyphicon glyphicon-sort" aria-hidden="true"></span>
                                </button>
                            </span>
                        </span>
                    </div><!-- /sourceDiv -->
                    <div class="input-group">
                        <input id="destinationInput" type="text" class="form-control" placeholder="终点" aria-describedby="basic-addon1" readonly="readonly">
                        <span class="input-group-btn">
                            <button class="btn btn-default" type="button" onclick="search()">
                                <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                            </button>
                        </span>
                    </div><!-- /destinationDiv -->
                    <div id="route_result">
                    </div><!-- /routeInfoDiv -->
                </div><!-- /routeDeatailDiv -->

                <div id="newSiteDiv" class="col-md-3" style="display:none">
                    <div class="col-md-offset-11">
                        <span class="input-group-btn">
                            <button id="returnFromNewSiteButton" class="btn btn-default" type="button">
                                <span class="glyphicon glyphicon-remove" aria-hidden="true"></span><!-- return -->
                            </button>
                        </span>
                    </div><!-- /returnDiv -->
                    <div class="input-group soloInput">
                        <input id="aliasInput" type="text" class="form-control" placeholder="Alias" aria-describedby="basic-addon1">
                    </div><!-- /aliasDiv -->
                    <div class="input-group soloInput">
                        <input id="phoneInput" type="text" class="form-control" placeholder="Phone" aria-describedby="basic-addon1">
                    </div><!-- /emailDiv -->
                    <div class="input-group">
                        <input id="positionInput" type="text" class="form-control" placeholder="Position" aria-describedby="basic-addon1">
                        <span class="input-group-btn">
                            <button id="searchPositionButton" class="btn btn-default" type="button" onclick="localSearch2()">
                                <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                            </button><!-- /searchPositionButton -->
                        </span>
                    </div><!-- /positionDiv -->
                    <div id="positionResultDiv">
                        
                    </div><!-- /routeInfoDiv -->
                </div><!-- /newSiteDiv -->
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        var flag = true;
        $("#destinationInput").val("微软");

        $("#detailRouteButton").click(function () {
            $("#searchDiv").css("display", "none");
            $("#routeDetailDiv").css("display", "");
            $("#sourceInput").val($("#searchForInput").val());
        });

        $("#searchButton").click(function () {
            $("#searchDiv").css("display", "none");
            $("#routeDetailDiv").css("display", "");
            $("#sourceInput").val($("#searchForInput").val());
            localSearch();
        });

        $("#newSiteButton").click(function () {
            $("#searchDiv").css("display", "none");
            $("#newSiteDiv").css("display", "");
        });

        $("#returnFromRouteDetailButton").click(function () {
            $("#searchDiv").css("display", "");
            $("#routeDetailDiv").css("display", "none");
        });

        $("#returnFromNewSiteButton").click(function () {
            $("#searchDiv").css("display", "");
            $("#newSiteDiv").css("display", "none");
        });

        $("#exchangeButton").click(function () {
            var temp = $("#sourceInput").val();
            $("#sourceInput").val($("#destinationInput").val());
            $("#destinationInput").val(temp);
            flag = !flag;
            if (flag)
            {
                $("#sourceInput").removeAttr("readonly");
                $("#destinationInput").attr("readonly", "readonly");
            }
            else
            {
                $("#sourceInput").attr("readonly", "readonly");
                $("#destinationInput").removeAttr("readonly");
            }
        });
    });
</script>

<script type="text/javascript">
    function Station(name, photo, route, routeTime, longitude, latitude) {
        this.name = name;
        this.photo = photo;
        this.route = route;
        this.routeTime = routeTime;
        this.longitude = longitude;
        this.latitude = latitude;
    }

    var markersForStation = new Array();
    var datas = new Array();
    datas[0] = (new Station("虹桥路宜山路", "http://static.shenjianshou.cn/images/11666-daabbc70ddb73cf96afab7721c97edf0", "Route 11", "11:00am", 121.3511167, 31));
    datas[1] = (new Station("张江路建中路", "https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcQdSYfLw8bJOpPSVOfhBLTSwF04xrCX_rlfUO8SXS_5OyrkaUZV", "Route 8", "8:00am", 121.4511167, 31));

    // create a baidu map
    // The divID is the ID of the div which gonna show the map
    function createMap(divID, longitude, latitude) {
        map = new BMap.Map(divID);
        map.centerAndZoom(new BMap.Point(longitude, latitude), 13);
        map.enableScrollWheelZoom();
        return map;
    }

    var map = createMap("main_map", 121.4511167, 31);
    addMarkersInBaiduMap(datas, map);
    // datas contain all the info for each station
    function addMarkersInBaiduMap(datas, map) {
        for (i = 0; i < datas.length; i++) {
            markersForStation.push(new BMap.Marker(new BMap.Point(datas[i].longitude, datas[i].latitude)));
            map.addOverlay(markersForStation[i]);
            markersForStation[i].licontent = "<div style=\"width:500px;height:200px;\"><div style=\"float:left\"><img src=\"" + datas[i].photo +
                            "\" style=\"width:300px;height:200px;\"></div><div style=\"float:right;width:180px;height:200px;\"><h3>" +
                            datas[i].name + "</h3><span><strong>班车线路:</strong> " + datas[i].route + "</span> <br /><span><strong>到站时间:</strong> " + datas[i].routeTime + "</span></div></div>";
            markersForStation[i].opts1 = { width: 500 };
            markersForStation[i].infoWindow = new BMap.InfoWindow(markersForStation[i].licontent, markersForStation[i].opts1);
            markersForStation[i].addEventListener('click', function () {
                this.openInfoWindow(this.infoWindow);
            });
        }
    }

    function deleteMarkersInBaiduMap(map) {
        for (i = 0; i < markersForStation.length; i++)
            map.removeOverlay(markersForStation[i]);
    }

    function createTransit(map) {
        var transit = new BMap.TransitRoute(map, {
            renderOptions: { map: map, panel: "route_result" }
        });
        return transit;
    }

    function searchTransit(map, transit, origin, destination) {
        map.centerAndZoom(new BMap.Point(121.476788, 31.23754), 12);
        transit.search(origin, destination);
    }

    function search() {
        var transit = createTransit(map);
        searchTransit(map, transit, $("#sourceInput").val(), $("#destinationInput").val());
    }

    function locateToPlace(item) {
        map.centerAndZoom(new BMap.Point(searchLocalResults.getPoi(item.id).point.lng, searchLocalResults.getPoi(item.id).point.lat), 13);
        $("#returnFromRouteDetailButton").click();
        var overlays = map.getOverlays();
        for (i = 0; i < overlays.length ; i++)
            map.removeOverlay(overlays[i]);
        addMarkersInBaiduMap(datas, map);
        var myIcon = new BMap.Icon("http://developer.baidu.com/map/jsdemo/img/fox.gif", new BMap.Size(300, 157));
        var vectorMarker = new BMap.Marker(new BMap.Point(searchLocalResults.getPoi(item.id).point.lng, searchLocalResults.getPoi(item.id).point.lat), {icon:myIcon});
        map.addOverlay(vectorMarker);
        var tmp_content = item.parentElement.innerHTML;
        vectorMarker.licontent = tmp_content.substr(0, tmp_content.indexOf("<button")) + "<br /><button id='gotoButton' class='btn btn-default' type='button'>" +
                                "<span aria-hidden='true'>从这去公司</span>" +
                                "</button><button id='gotoButton' class='btn btn-default' type='button'>" +
                                "<span aria-hidden='true'>从公司来这</span>" +
                                "</button>";
        vectorMarker.opts1 = { width: 100 };
        vectorMarker.infoWindow = new BMap.InfoWindow(vectorMarker.licontent, vectorMarker.opts1);
        vectorMarker.openInfoWindow(vectorMarker.infoWindow);
        vectorMarker.addEventListener('click', function () {
            this.openInfoWindow(this.infoWindow);
        });
    }

    function locateToPlace2(item) {
        map.centerAndZoom(new BMap.Point(searchLocalResults.getPoi(item.id).point.lng, searchLocalResults.getPoi(item.id).point.lat), 13);
        var overlays = map.getOverlays();
        for (i = 0; i < overlays.length ; i++)
            map.removeOverlay(overlays[i]);
        addMarkersInBaiduMap(datas, map);
        var myIcon = new BMap.Icon("http://developer.baidu.com/map/jsdemo/img/fox.gif", new BMap.Size(300, 157));
        var vectorMarker = new BMap.Marker(new BMap.Point(searchLocalResults.getPoi(item.id).point.lng, searchLocalResults.getPoi(item.id).point.lat), { icon: myIcon });
        map.addOverlay(vectorMarker);
        var tmp_content = item.parentElement.innerHTML;
        
        vectorMarker.licontent = tmp_content.substr(0, tmp_content.indexOf("<button"))  + "<br /><button id='gotoButton' class='btn btn-default' type='button'>" +
                                "<span aria-hidden='true'>从这去公司</span>" +
                                "</button><button id='gotoButton' class='btn btn-default' type='button'>" +
                                "<span aria-hidden='true'>从公司来这</span>" +
                                "</button>";
        vectorMarker.opts1 = { width: 100 };
        vectorMarker.infoWindow = new BMap.InfoWindow(vectorMarker.licontent, vectorMarker.opts1);
        vectorMarker.openInfoWindow(vectorMarker.infoWindow);
        vectorMarker.addEventListener('click', function () {
            this.openInfoWindow(this.infoWindow);
        });
    }

    var searchLocalResults;
    function createLocalSearch(map, resultDivID, functionName) {
        /// It's the same usage as the transit search, you can add a callback here or use getResults() after search.
        /// The return type of getResults is LocalResult or array of LocalResult.
        /// links: 1) http://developer.baidu.com/map/reference/index.php?title=Class:%E6%9C%8D%E5%8A%A1%E7%B1%BB/LocalSearch
        ///        2) http://developer.baidu.com/map/reference/index.php?title=Class:%E6%9C%8D%E5%8A%A1%E7%B1%BB/LocalResult
        
        var options = {
            onSearchComplete: function (results) {
                if (local.getStatus() == BMAP_STATUS_SUCCESS) {
                    // 判断状态是否正确
                    var s = [];
                    searchLocalResults = results;
                    for (var i = 0; i < results.getCurrentNumPois() ; i++) {
                        s.push(results.getPoi(i).title + ", " + results.getPoi(i).point.lng + ", " + results.getPoi(i).point.lat);
                    }
                //    document.getElementById("route_result").innerHTML = s.join("<br>");
                }
            },
            
            renderOptions: { map: map, autoViewport: true, panel: resultDivID },

            onResultsHtmlSet: function (container)
            {
                addressMakers = container.firstChild.firstChild.childNodes;
                for (i = 0; i < addressMakers.length; i++) {
                    var btn = document.createElement('button');
                    btn.setAttribute("onclick", functionName + "(this)");
                    btn.setAttribute("class", "setBtn");
                    btn.setAttribute("style", "font-weight: bold; background-position: -21px -81px;");
                    btn.innerHTML = "选择";
                    btn.setAttribute("id", i);
                    addressMakers[i].childNodes[1].appendChild(btn);
                    container.childNodes[0].childNodes[0].childNodes[i].setAttribute("onmouseover", "this.click()")
                }
                container.removeChild(container.childNodes[1]);
            }
        };
        var local = new BMap.LocalSearch(map, options);
        return local;
    }


    function localSearch() {
        var local_search = createLocalSearch(map, "route_result", "locateToPlace");
        local_search.search($("#sourceInput").val());
        
    }

    function localSearch2() {
        var local_search = createLocalSearch(map, "positionResultDiv", "locateToPlace2");
        local_search.search($("#positionInput").val());
    }


   
</script>